* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}

#root {
  height: 100vh;
}

.wrapper {
  height: 100%;
  display: flex;
}

.side-bar {
  width: 22%;
  border-right: 1px solid rgb(209, 209, 209);
  height: 100%;
  padding: 1rem;

  &__title {
    margin: 0;
  }

  &__list {
    margin-top: 0.5rem;

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      cursor: pointer;
      background: #fff;
      transition: background 0.15s ease-in-out;
      padding: 0.5rem;
      border-radius: 10px;

      &:hover {
        background: darken(#fff, 10);
      }

      &:active {
        background: darken(#fff, 15);
      }

      &-icon {
        margin-right: 1rem;
      }

      &-active {
        li {
          background-color: rgb(238, 228, 254);
          color: #6115f9;
        }
      }
    }

    &-link {
      &:visited {
        color: #000;
      }
      &:link {
        color: #000;
      }
    }
  }
}

.todo {
  flex-grow: 1;
  padding: 1rem;
  background-color: rgb(243, 242, 243);
  width: 60%;

  &__title {
    margin: 0;
    margin-bottom: 1rem;
  }

  &__item {
    display: flex;
    align-items: center;

    &-checkbox {
      display: flex;
    }
  }

  &__text {
    color: #000;
    flex: 1;
    cursor: pointer;
  }
}

.todo-details {
  width: 15rem;
  padding: 1rem;
}

.icons {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }
}
